<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>网站挂马检测</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../static/jquery-3.4.1.js"></script>
    <script src="../static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
<div style="padding: 300px 300px 100px;">
    <form class="form-inline" role="form">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="url"></label>
            <input type="text" class="form-control" id="url" placeholder="url">
            <span class="glyphicon glyphicon-globe form-control-feedback"></span>
        </div>
    </form>
</div>
</body>
</html>